body {
  font-family: "Cabin", sans-serif;
}

h1, h2 {
  color: #a58307;
}

h1 {
  font-size: 5em;
  font-weight: 100;
}

header {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

header li {
  list-style-type: none;
}

#wrapper {
  width: 1024px;
  margin: 20px auto;
  color: white ;
  background-color: black;
  font-size: 18px;
  line-height: 1.5;
}

#avatar {
  width: 200px;
  border-radius: 50%;
  margin: 20px;
}

#contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
}

.icons {
  width: 50px;
}

#contacts li p {
  vertical-align: middle;
  display: inline;
}

#contacts li img {
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 10px;
}

#rsschool-icon {
  background-color: white;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.columns-wrapper {
  display: flex;
  margin: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid white;
  margin-left: 20px;
  margin-right: 20px;
}

#text {
  margin-left: 40px;
}

.right-column ul li {
 list-style-type: none; 
}

.right-column ul li::before {
  color: #a58307;
  content: '▪';
  padding-right: 10px;
}

#experience {
margin-top: 13px;
}

#education {
  margin-top: -10px;
}

#qualities {
  margin-top: 105px;
}

#skills {
  margin-top: 95px;
}

#examples {
  margin-top: 65px;
}

#address {
margin-right: 25px;
}

#contacts li a {
  text-decoration: none;
  color: white
} 

.projects {
  width: 602px;
}

aside section {
  margin-left: 40px;
}

aside {
  line-height: 2em;
}